<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>
<body>
<h1>UserList</h1>
<form th:action="@{/new}" method="get" style="display:inline;">
  <button type="submit" style="background-color: blue; color: white; border: none; padding: 5px 10px; cursor: pointer;">
    Add new User
  </button>
</form>
<table border="1">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>LastName</th>
    <th>email</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user: ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.email}"></td>
    <td>
      <form th:action="@{/users/edit}" method="get" style="display:inline;">
        <input type="hidden" name="id" th:value="${user.id}"/>
        <button type="submit" style="background-color: blue; color: white; border: none; padding: 5px 10px; cursor: pointer;">
          Edit
        </button>
      </form>
      <form th:action="@{/users/delete}" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${user.id}"/>
        <button type="submit" style="background-color: red; border: none; padding: 5px 10px; cursor: pointer;">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>